<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74358882817-e78fa6krffcnib2ubtg6na5s651cvhjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74358882817-e78fa6krffcnib2ubtg6na5s651cvhjt</string>
	<key>API_KEY</key>
	<string>AIzaSyCxozMWFPDwjmkFmXPwUzSxYh-SkOZ9NOo</string>
	<key>GCM_SENDER_ID</key>
	<string>74358882817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sarakel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>final-sarakel</string>
	<key>STORAGE_BUCKET</key>
	<string>final-sarakel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74358882817:ios:6af50ec1f402238371b600</string>
</dict>
</plist>